/*** Compte public ***/

#account-public {
    width: 1140px;
    margin: 103px auto 212px auto;
    display: flex;
    flex-direction: row;
    gap: 28px;
}

#profile-public {
    width: 341px;
    padding-top: 48px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

#profile-public A {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

/*** Compte privé ***/

#account {
    width: 1135px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 90px auto 102px auto;
    background-color: var(--backgroundColor2);
}

#account H1 {
    font-size: 26px;
    margin-bottom: 48px;
}

#profile FORM {
    display: flex;
    flex-direction: row;
    gap: 33px;
}

#profile-form {
    width: 555px;
    padding: 36px 116px 37px 117px;
}

#profile-form .personal-info {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 26px;
}

#profile-form .button {
    width: 150px;
    height: 63px;
}

#profile-display {
    width: 547px;
    padding-top: 48px;
    padding-bottom: 93px;
    text-align: center;
}

#profile-display .modify {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-text);
    text-decoration: underline;
    cursor: pointer;
}

.profile-hr {
    width: 242px;
    margin: 48px auto 48px auto;
}

#profile-display, #profile-form {
    background-color: white;
}

.badge {
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    width: 71px;
    height: 19px;
    align-content: center;
    border-radius: 19px;
    margin: auto;
}

.badge-available {
    background-color: var(--available-color);
}

.badge-unavailable {
    background-color: var(--unavailable-color);
}

.action-links {
    display: flex;
    flex-direction: row;
    gap: 28px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.edit-link {
    color: var(--text);
}

.delete-link {
    color: #CB2D2D;
}

.member-since {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-text);
    margin-bottom: 21px;
}

.nb-books {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

#profile-display, #profile-form, #book-list {
    border-radius: 20px;
}

.nickname-big {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--text);
    margin-bottom: 11px;
}

#profile-display .biblio {
    margin-bottom: 6px;
}

/** liste des livres */

#book-list {
    border-radius: 20px;
    overflow: hidden;
}

#account-public #book-list {
    width: 771px;
}

#account #book-list {
    width: 100%;
}

#book-list TABLE {
    border-collapse: collapse;
}

#book-list :is(TABLE, THEAD, TBODY, TR, TH, TD) {
    border-width: 0;
}

#book-list THEAD {
    height: 53px;
    background-color: white;
    border-bottom: var(--backgroundColor1) solid 2px;
}

#book-list TH {
    text-align: left;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    padding-top: 33px;
    padding-bottom: 9px;
}

#book-list TH:first-child, #book-list TD:first-child {
    padding-left: 66px;
}

#book-list TD {
    padding-right: 80px;
}

#account-public #book-list TD:last-child {
    padding-right: 63px;
}

#book-list TBODY TR {
    height: 130px;
}

#book-list TBODY TR:nth-child(odd) {
    background-color: white;
}

#book-list TBODY TR:nth-child(even) {
    background-color: var(--member-form-field-color);
}

#book-list TBODY IMG {
    width: 78px;
    height: 78px;
}
