MAIN {
    background-color: var(--backgroundColor2);
    padding: 40px 150px 92px 150px;
}

H1.detail-edit {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    margin-left: 150px;
}

#detail-edit {
    display: flex;
    flex-direction: row;
    gap: 118px;
    padding: 56px 50px 68px 50px;
    background-color: white;
}

INPUT[type="submit"] {
    width: 322px;
    margin-top: 44px;
}
