MAIN {
    background-color: var(--backgroundColor2);
    padding: 40px var(--real-horizontal-padding) 92px var(--real-horizontal-padding);
}

H1.detail-edit {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
}

#detail-edit {
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    gap: 118px;
    padding: 56px 50px 68px 50px;
    background-color: white;
    border-radius: 20px;
}

INPUT[type="submit"] {
    width: 322px;
    margin-top: 12px;
    margin-bottom: 0;
}

#detail-edit .image {
    display: flex;
    width: 488px;
    height: 50%;
    flex-flow: column;
}

#detail-edit IMG {
    margin-bottom: 23px;
}

#detail-edit SECTION {
    display: flex;
    width: 50%;
    flex-flow: column;
}

#detail-edit TEXTAREA {
    height: 435px;
    padding: 16px 12px 34px 14px;
}

#cover-label {
    text-decoration: underline;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--text);
    text-align: right;
    cursor: pointer;
}

.breadcrumbs-detail-edit {
    padding-bottom: 23px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-text);
}