SECTION#home {
    background-color: var(--backgroundColor1);
    padding-top: 80px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 105px;
}

SECTION#home > DIV:first-child {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

SECTION#home > DIV:first-child > DIV {
    max-width: 329px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 71px;
}

.big-image {
    width: 404px;
    height: 539px;
}

.big-image-signature {
    color: var(--light-text);
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    line-height: 14px;
    margin-top: 12px;
}

#last-books {
    padding-top: 80px;
    padding-bottom: 64px;
    background-color: var(--backgroundColor2);
}

#last-books H2 {
    margin-bottom: 80px;
}

.lastbooks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 38px;
    margin-bottom: 70px;
}

.lastbooks A {
    text-decoration: none;
}

.lastbooks P {
    word-wrap: break-word;
}

.home-text {
    text-align: justify;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 40px;
}

#how-it-works {
    background-color: var(--backgroundColor1);
    padding-top: 80px;
    padding-bottom: 80px;
}

#how-it-works-title {
    margin-bottom: 24px;
}

SECTION#how-it-works-block {
    margin-top: 40px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
}

SECTION#how-it-works-block ARTICLE {
    background-color: white;
    width: 180px;
    height: 51px;
    text-wrap: auto;
    padding: 44px 18px 44px 17px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    box-sizing: content-box;
}

#banner {
    height: 230px;
}

#banner-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
}

#our-values {
    padding-top: 80px;
    padding-bottom: 89px;
    padding-left: calc(392px + var(--real-horizontal-padding));
}

#our-values-title {
    margin-bottom: 29px;
}

#our-values-text {
    width: 392px;
}

#signature {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 239px;
}

#signature-text {
    margin-top: 14px;
    display: block;
}

#signature IMG {

}

.light-text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    color: var(--light-text);
}