#login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--backgroundColor2);
}

#login .form {
    padding-top: 210px;
    padding-left: 150px;
    padding-right: 248px;
    width: 50%;
}

#login .image {
    width: 50%;
}