BODY:has(SECTION#messenger) {
    background-color: var(--backgroundColor1)
}

#messenger {
    display: flex;
    flex-direction: row;
    padding-left: var(--real-horizontal-padding);
    padding-right: var(--real-horizontal-padding);
    height: calc(100vh - var(--header-height) - var(--footer-height));
}

#messenger H1 {
    font-size: 26px;
    line-height: 35px;
    margin: 55px auto 27px 34px;
}

#members {
    display: flex;
    flex-direction: column;
    width: 308px;
    background-color: var(--backgroundColor2);
    overflow-y: scroll;
    overflow-x: hidden;
}

.member-block {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 18px 42px 18px 34px;
}

A.member-block {
    text-decoration: none;
}

A.member-block.active {
    background-color: white;
}

.member-details {
    display: flex;
    flex-direction: column;
    width: 172px;
}

.member-details-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-time {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--text);
}

.member-details-2 {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--light-text);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.avatar-medium {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.avatar-small {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#messages {
    display: flex;
    flex-direction: column;
    width: 832px;
    padding-left: 44px;
    padding-right: 0;
}

#messages #from {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 35px;
    align-items: center;
    margin-bottom: 20px;
}

#messages #from SPAN {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

#messages FORM {
    display: flex;
    flex-direction: row;
    gap: 21px;
    margin-left: 6px;
    margin-bottom: 98px;
}

#messages INPUT {
    margin-bottom: 0;
}

#messages INPUT[type=submit] {
    width: 132px;
    height: 49px;
    margin-top: 0;
}

#discussion {
    margin-top: auto;
    overflow-y: scroll;
    padding-right: 12px; /* place réservée pour la barre de défilement vertical */
}

.message-header {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.message.message-from-me {
    align-items: end;
    gap: 5px;
}

.message.message-from-other {
    align-items: start;
    gap: 8px;
}

.message-header .message-time, .message-from-me .message-time {
    color: var(--light-text);
}

.message-body {
    padding: 10px 18px 9px 18px;
    height: 37px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.message-from-other .message-body {
    background-color: white;
}

.message-from-me .message-body {
    background-color: var(--member-form-field-color);
}

#message-input {
    height: 49px;
    padding-left: 42px;
    flex: 1;
}