#account-public {
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin-top: 103px;
}

#profile-public {
    width: 341px;
    padding-top: 48px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

#profile-public HR {
    width: 242px;
    margin: 70px auto 48px auto;
}

#profile-public A {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}