@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('common.css');
@import url('home.css');
@import url('exchange.css');
@import url('detail.css');
@import url('register.css');
@import url('login.css');
@import url('account.css');
@import url('public-account.css');

.lastbooks A,
#books-exchange A {
    text-decoration: none;
}

.breadcrumbs {
    padding-left: 150px;
    padding-bottom: 16px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: var(--light-text);
}

.login-link, .register-link {
    margin-top: 40px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

#register H1, #login H1 {
    margin-bottom: 56px;
}

#register LABEL, #login LABEL, #profile-form LABEL {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-text);
    margin-bottom: 10px;
    display: block;
}

#register INPUT, #login INPUT, #profile-form INPUT[type=email], #profile-form INPUT[type=text], #profile-form INPUT[type=password] {
    margin-bottom: 32px;
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
}

#register INPUT[type=submit], #login INPUT[type=submit] {
    background-color: var(--green);
    border: none;
    height: 63px;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: white;
}

#register .login-link A, #login .register-link A {
    color: var(--text);
}

HR {
    width: 27px;
    height: 1px;
    color: var(--light-text);
    margin: 33px 0 33px 0;
}

#profile-display, #profile-form, #book-list {
    border-radius: 20px;
}

.nickname-big {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--text);
    margin-bottom: 11px;
}

.member-since {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-text);
    margin-bottom: 21px;
}

#profile-display .biblio {
    margin-bottom: 6px;
}

.nb-books {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

#profile-form INPUT[type=email], #profile-form INPUT[type=text], #profile-form INPUT[type=password], #detail-edit INPUT[type=text] {
    background-color: #EDF2F6;
    padding-left: 14px;
}

#book-list TBODY TR {
    height: 130px;
}

#book-list TBODY TR:nth-child(odd) {
    background-color: var(--backgroundColor1);
}

#book-list TBODY TR:nth-child(even) {
    background-color: white;
}

#book-list TBODY IMG {
    width: 78px;
    height: 78px;
}


